.mailSendSection {
  width: 100%;
  padding: 2%;
  background-color: #eaedef;
}
#mailForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
#mailForm > * {
  width: 50%;
  margin: 1%;
}
#mailForm textarea {
  height: 15rem;
}
.mailAutoComplete ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.sendBtnContainer {
  display: flex;
  justify-content: center;
}
#sendToAllCheckBox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: -1%;
  z-index: 3;
}
#sendToAllCheckBox label {
  margin-left: 2%;
}
